body{
    background-image:url('milk.jpg');
    background-size: cover;

}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }