<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
        <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <!-- <img src="{{ url_for('static', filename='milk.jpg') }}" alt="Example Image"> -->

    <h1>Milk Grading system</h1>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi dolorem maxime nihil consectetur, pariatur officiis, sint sapiente exercitationem quae libero ratione cum laborum esse voluptatibus quo! Perferendis laudantium, possimus, deserunt asperiores, perspiciatis doloremque deleniti eius architecto quos harum officiis velit quibusdam saepe impedit tempore cumque repellendus et sunt qui cupiditate inventore! Obcaecati, quod nobis magnam dolore dolor atque et a fugit voluptates quo consequuntur quia, at eius ea. A debitis adipisci tenetur voluptates sequi explicabo iusto quibusdam totam! Ipsa molestiae deleniti vel eius, natus porro qui consequuntur illum debitis. Ratione mollitia amet earum enim tenetur temporibus nihil sint? Accusantium, perferendis?</h4>

    <a href="/predict">Click to predict</a>
</body>
</html>